* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;

  min-height: 100vh;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav {
  display: flex;
  justify-content: space-between;
}

main {
  margin-top: 128px;
  flex: 1;
}

main > ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

main > ul > li {
  list-style: none;
}

main > ul > li h2 {
  margin: 0;
}

main > ul > li a:link,
main > ul > li a:visited {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Libre Bodoni", serif;
  font-weight: 500;
}

h2,
h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p,
p > a {
  font-size: 16px;
}

footer {
  margin-top: 144px;
  display: flex;
  justify-content: center;
}

.container {
  padding: 24px;
  width: 600px;
  display: flex;
  flex-direction: column;
}

nav a:link,
nav a:visited {
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: column;

  width: 132px;
  height: 132px;

  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 36px;
}

.logo-chon {
  margin-left: auto;
}

.menus {
  font-size: 24px;
  align-self: end;
}
.description {
  font-size: 20px;
}

.date {
  margin-top: 12px;
  font-size: 16px;
}

.content {
  margin-top: 48px;
}

/* @media (prefers-color-scheme: light) { */
body {
  background-color: #ebefee;
  color: #4b413c;
}

p > a:link {
  color: #bb6c43;
}

nav a:link,
nav a:visited,
main > ul > li a:link,
main > ul > li a:visited {
  color: #4b413c;
}

.date {
  color: #bb6c43;
}
/* } */

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #4b413c;
    color: #ebefee;
  }

  p > a:link {
    color: #99f0da;
  }

  a.logo:link,
  a.logo:visited {
    color: #ebefee;
  }

  .date {
    color: #99f0da;
  }
} */
