<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DNGYNG1000</title>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Wow, like and subscribe, it really helps the channel guys"
      lang="en"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/index.css" />
  </head>
  <body>
    <div class="container">
      <nav role="navigation">
        <a href="/" class="logo">
          <div>DONG</div>
          <div>YEONG</div>
          <div class="logo-chon">CHON</div>
        </a>
        <div class="menus">
          <a href="/posts"> POSTS </a>
        </div>
      </nav>
      <main>
        <article>
          <h1>{{.Title}}</h1>
          <p class="description">{{.Description}}</p>
          <p class="date">{{.Date.Format "2006-01-02"}}</p>
          <div class="content">{{.Body}}</div>
        </article>
      </main>
      <footer>
        <p>© 2025 Dongyeong Chon</p>
      </footer>
    </div>
  </body>
</html>
