{{define "main"}}
<section>
    <h2>About</h2>
    <p>Hi, my name is Dongyeong Chon (or you can call me Donny, I gave up on trying to introduce my Korean name).</p>
    <p>I'm a programmer who loves Go, a former web frontend developer, a bouldering-holic, and a music lover. I'm also the proud husband of a wonderful wife.</p>
    <p>This blog is a collection of links, posts, and projects that I found interesting.</p>
</section>
{{end}}